{
  "enabled": true,
  "allowedInternalHosts": [],
  "webIdLoginClientId": "halcyon-local",
  "webIdLoginDynamicRegistration": false,
  "webIdGroups": {
    "https://ebremer.com/id/erich": ["admin"]
  }
}
