:root {
  --highlight: #537895;
  --bg-dark: #272b38;
  --text-dark: #cac3bc;
  --bg-light: #f5f4f3;
  --text-light: #27374c;
  --sun: #ffd475;
  --tooltip: #fff7d6;
  --no-frills: #ccc;
  --rgb-on: rgb(255, 255, 255);
  --rgba-on: rgba(255, 255, 255, 1);
  --grad: #d7e1ec;
  --shadow: #899599;
}

.theme--default {
  color: var(--text-light);
  background-color: var(--bg-light);
}

.theme--dark {
  color: var(--text-dark);
  background-color: var(--bg-dark);
}

.sun {
  padding: 7px;
  cursor: pointer;
  color: var(--sun);
}

.moon {
  padding: 7px;
  cursor: pointer;
}

body {
  font-family: effra,Verdana,Tahoma,'DejaVu Sans',sans-serif !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.438rem !important;
}

ul {
  list-style-type: none;
}

a:link {
  text-decoration: none;
}

.navbar {
  overflow: hidden;

  -webkit-transition: background-color .2s linear;
       -o-transition: background-color .2s linear;
          transition: background-color .2s linear;
  /* -webkit-animation: 1s ease-out 0s 1 slide-in-from-top; */
          /* animation: 1s ease-out 0s 1 slide-in-from-top; */

  background-color: var(--text-light);
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  color: var(--text-light);
  background-color: var(--text-dark);;
}

/* @-webkit-keyframes slide-in-from-top {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slide-in-from-top {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
} */

.divSquare {
  float: left;
  margin-right: 195px;
}

.controls {
  width: 100%;
  height: 30px;
}

.floated {
  float: left;
  width: 100%;
  margin-right: 5px;
}

.divTable {
  display: table;
}

.divTableRow {
  display: table-row;
}

.divTableCell {
  display: table-cell;
  vertical-align: middle;
}

/* scroll interferes with visibility slider... */
/* .scroll {
  overflow-y: auto;
  overflow-x: hidden;
  width: 200px;
  height: 475px;
} */

.hide {
  z-index: 10;
  display: none;
}

.myDIV:hover .hide {
  position: absolute;
  z-index: 9;
  display: block;
}

.showHover {
  z-index: 1080 !important;
  display: none;
}

.showDiv:hover .showHover {
  position: absolute;
  z-index: 1090 !important;
  display: block;
  overflow: hidden;
}

.pointer {
  cursor: pointer;
}

*[draggable=true] {
  cursor: move;
  -webkit-user-drag: element;
     -moz-user-drag: element;
}

.fas:focus,
.fas:hover {
  border: none !important;
}

.layer-icons {
  padding: .5px;
}

.layer-icons:hover {
  color: var(--highlight);
  border: 1px solid var(--highlight);
}

.btnOn {
  color: #15f4ee;
  padding: .2em .7em;
}

.annotationBtn,
.btnOn,
.layer {
  font: inherit;
  display: inline-block;
  text-decoration: none;
  border: 1px solid;
  border-radius: 5px;
}

.annotationBtn:active, .layer:active {
  position: relative;
  top: 1px;
}

.annotationBtn {
  padding: .2em .7em;
  cursor: pointer;
  color: var(--text-light);
  border: #ddd;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(74%, var(--grad)));
  background: -o-linear-gradient(top, #fff 0%, var(--grad) 74%);
  background: linear-gradient(to bottom, #fff 0%, var(--grad) 74%);
  background-color: #fff;
}

.annotationBtn:hover {
  color: var(--highlight);
  background: -webkit-gradient(linear, left top, left bottom, from(var(--grad)), color-stop(74%, #fff));
  background: -o-linear-gradient(top, var(--grad) 0%, #fff 74%);
  background: linear-gradient(to bottom, var(--grad) 0%, #fff 74%);
}

.layer {
  float: left;
  overflow: hidden;
  width: 90px;
  padding: .5em 1em;
  cursor: move;
  -webkit-transform: skew(-10deg);
      -ms-transform: skew(-10deg);
          transform: skew(-10deg);
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  color: var(--text-light);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #ededed), to(var(--grad)));
  background: -o-linear-gradient(top, #ededed 5%, var(--grad) 100%);
  background: linear-gradient(to bottom, #ededed 5%, var(--grad) 100%);
  background-color: #ededed;
  -webkit-box-shadow: 3px 4px 0 0 var(--shadow);
          box-shadow: 3px 4px 0 0 var(--shadow);
  text-shadow: 0 1px 0 #e1e2ed;
}

.layer:hover {
  color: var(--highlight);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, var(--grad)), to(#ededed));
  background: -o-linear-gradient(top, var(--grad) 5%, #ededed 100%);
  background: linear-gradient(to bottom, var(--grad) 5%, #ededed 100%);
  background-color: var(--grad);
}

.dropzone {
  overflow: hidden;
  border: 1px solid var(--text-light);
  background-color: var(--bg-light);
}

.drag-over {
  border: 3px dotted var(--highlight);
}

/* css transition: .block, .color-fade */
.block {
  display: block;
  width: 90px;
  padding: .5em 1em;

  cursor: move;
  -webkit-transition: background-color 1000ms linear;
       -o-transition: background-color 1000ms linear;
          transition: background-color 1000ms linear;
  -webkit-transform: skew(-10deg);
      -ms-transform: skew(-10deg);
          transform: skew(-10deg);
}

.color-fade {
  width: 90px;
  padding: .5em 1em;

  cursor: move;
  -webkit-transition: background-color 1000ms linear;
       -o-transition: background-color 1000ms linear;
          transition: background-color 1000ms linear;
  -webkit-transform: skew(-10deg);
      -ms-transform: skew(-10deg);
          transform: skew(-10deg);

  color: #ccc;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: var(--highlight);
  -webkit-box-shadow: 3px 4px 0 0 var(--shadow);
          box-shadow: 3px 4px 0 0 var(--shadow);
  text-shadow: 0 1px 0 #e1e2ed;
}

.popup {
  position: absolute;
  z-index: 1060;
  display: inline-block;
  white-space: nowrap;
  color: var(--text-light);
  border: 1px solid var(--text-light);
  border-radius: 7px;
  background-color: var(--bg-light);
  -webkit-box-shadow: 5px 5px 5px var(--text-light);
          box-shadow: 5px 5px 5px var(--text-light);
}

.popupHeader {
  font-weight: bold;
  z-index: 1070;
  overflow: hidden;
  padding: 10px;
  cursor: move;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  color: var(--text-dark);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background-color: var(--text-light);
}

.popupBody {
  color: var(--text-light);
}

.mag-content {
  z-index: 1000;
  display: none;
  min-width: 160px;
  border-radius: 7px;
  background-color: rgba(249, 249, 249, .5);
  -webkit-box-shadow: 5px 5px 5px var(--text-light);
          box-shadow: 5px 5px 5px var(--text-light);
}

.mag-content a {
  display: block;
  float: none;
  padding: .4em 1em;
  text-align: left;
  text-decoration: none;
  color: var(--text-light);
}

.mag:hover .mag-content {
  display: block;
}

.mag-content a:hover {
  background-color: rgba(249, 249, 249, .9);
}

.dualSlider,
.dualSlider1,
.singleSlider,
input {
  font: inherit;
}

.dualSlider,
.dualSlider1 {
  display: grid;
  overflow: hidden;
  width: 20em;
  margin: 1em auto;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(1em, var(--no-frills)), color-stop(0, transparent));
  background: -o-linear-gradient(bottom, var(--no-frills) 1em, transparent 0);
  background: linear-gradient(0deg, var(--no-frills) 1em, transparent 0);

  --dif: calc(var(--max) - var(--min));
  grid-template: repeat(2, -webkit-max-content) 1em/1fr 1fr;
  grid-template: repeat(2, -moz-max-content) 1em/1fr 1fr;
  grid-template: repeat(2, max-content) 1em/1fr 1fr;
}

.dualSlider::before,
.dualSlider::after {
  height: 100%;
  content: '';
  background: var(--highlight);
  grid-column: 1/span 2;
  grid-row: 3;
}

.dualSlider::before {
  width: calc((var(--b) - var(--a)) / var(--dif) * 100%);
  margin-left: calc((var(--a) - var(--min)) / var(--dif) * 100%);
}

.dualSlider::after {
  width: calc((var(--a) - var(--b)) / var(--dif) * 100%);
  margin-left: calc((var(--b) - var(--min)) / var(--dif) * 100%);
}

[id='multi-lbl'] {
  grid-column: 1/span 2;
}

.dualSlider input[type='range'] {
  z-index: 1020;
  top: 0;
  left: 0;
  margin: 0;
  pointer-events: none;
  color: var(--text-light);
  background: none;
  grid-column: 1/span 2;
  grid-row: 3;
}

.dualSlider input[type='range']::-webkit-slider-runnable-track,
.dualSlider input[type='range']::-webkit-slider-thumb,
.dualSlider input[type='range'] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.dualSlider input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 100%;
  background: none;
}

.dualSlider input[type='range']::-moz-range-track {
  width: 100%;
  height: 100%;
  background: none;
}

.dualSlider input[type='range']::-webkit-slider-thumb {
  width: 1em;
  height: 1em;
  pointer-events: auto;
  border: none;
  border-radius: 0;
  background: currentcolor;
}

.dualSlider input[type='range']::-moz-range-thumb {
  width: 1em;
  height: 1em;
  pointer-events: auto;
  border: none;
  border-radius: 0;
  background: currentcolor;
}

.dualSlider input[type='range']:focus {
  z-index: 1030;
  outline: dotted 1px currentcolor;
}

.dualSlider input[type='range']:focus,
.dualSlider input[type='range']:focus + output {
  color: darkorange;
}

output {
  grid-row: 2;
}

output:last-child {
  text-align: right;
}

output::after {
  content: counter(c);
  counter-reset: c var(--c);
}

.dualSlider1::before,
.dualSlider1::after {
  height: 100%;
  content: '';
  background: var(--highlight);
  grid-column: 1/span 2;
  grid-row: 3;
}

.dualSlider1::before {
  width: calc((var(--a1) - var(--min)) / var(--dif) * 100%);
  margin-left: 0;
}

.dualSlider1::after {
  width: calc((var(--max) - var(--b1)) / var(--dif) * 100%);
  margin-left: calc(var(--b1) / var(--dif) * 100%);
}

.dualSlider1 input[type='range'] {
  z-index: 1040;
  top: 0;
  left: 0;
  margin: 0;
  pointer-events: none;
  color: var(--text-light);
  background: none;
  grid-column: 1/span 2;
  grid-row: 3;
}

.dualSlider1 input[type='range']::-webkit-slider-runnable-track,
.dualSlider1 input[type='range']::-webkit-slider-thumb,
.dualSlider1 input[type='range'] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.dualSlider1 input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 100%;
  background: none;
}

.dualSlider1 input[type='range']::-moz-range-track {
  width: 100%;
  height: 100%;
  background: none;
}

.dualSlider1 input[type='range']::-webkit-slider-thumb {
  width: 1em;
  height: 1em;
  pointer-events: auto;
  border: none;
  border-radius: 0;
  background: currentcolor;
}

.dualSlider1 input[type='range']::-moz-range-thumb {
  width: 1em;
  height: 1em;
  pointer-events: auto;
  border: none;
  border-radius: 0;
  background: currentcolor;
}

.dualSlider1 input[type='range']:focus {
  z-index: 1050;
  outline: dotted 1px currentcolor;
}

.dualSlider1 input[type='range']:focus,
.dualSlider1 input[type='range']:focus + output {
  color: darkorange;
}

.singleSlider {
  height: 12px;
  opacity: 2;

  background: var(--rgb-on);
  background: -webkit-gradient(linear, left top, right top, from(var(--rgba-on)), color-stop(35%, var(--highlight)), to(var(--text-light)));
  background: -o-linear-gradient(left, var(--rgba-on) 0%, var(--highlight) 35%, var(--text-light) 100%);
  background: linear-gradient(90deg, var(--rgba-on) 0%, var(--highlight) 35%, var(--text-light) 100%);

  -webkit-appearance: none;
}

.singleSlider::-webkit-slider-thumb {
  width: 12px;
  height: 12px;
  cursor: pointer;
  background: var(--text-dark);

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.singleSlider:hover {
  opacity: 1;
}

.singleSlider input[type='range']::-moz-range-thumb {
  background: var(--text-light);
}

.css-tooltip {
  position: relative;
}

.css-tooltip:hover:after {
  font-size: .825rem;
  position: absolute;
  top: 0;
  left: 135%;
  display: inline-block;
  min-width: 150px;
  margin: 0 auto;
  padding: 5px;
  content: attr(data-tooltip);
  -webkit-transform: translateX(-15%);
      -ms-transform: translateX(-15%);
          transform: translateX(-15%);
  text-align: center;
  border-radius: 3px;
  background-color: var(--tooltip);
}
